{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - Home{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>
				<p>
					Confira em breve mais informações sobre o curso que será ministrado pelo autor do livro
					<a href="https://www.amazon.com.br/Fluent-Python-Luciano-Ramalho/dp/1491946008/ref=asc_df_1491946008/?tag=googleshopp00-20&linkCode=df0&hvadid=379726160779&hvpos=&hvnetw=g&hvrand=6465253262531834748&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9102559&hvtargid=pla-436375537383&psc=1" taget="_blank" > Python Fluente</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhes sobre o instrutor
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/luciano_ramalho.jpg' %}" alt="Foto de Luciona Ramalho" class="img-thumbnail float-left mr-3"/>
								Estamos entusiasmados em anunciar o nosso novo curso online de Python! Com este curso, você poderá aprender tudo o que precisa para começar a trabalhar com o Python, desde os fundamentos da linguagem até técnicas avançadas de programação.
								Nosso curso é projetado para ser acessível para iniciantes, mas também oferece desafios e conteúdo avançado para aqueles que já têm alguma experiência em programação. Nossa equipe de instrutores altamente qualificados está sempre disponível para responder perguntas e fornecer feedback valioso.
								Além disso, ao completar o curso, você receberá um certificado reconhecido que pode ajudá-lo a se destacar no mercado de trabalho. Inscreva-se agora e comece a sua jornada de aprendizado de Python hoje mesmo!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}